.card {
    width: fit-content;
    padding: 10px;
    background-color: black;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 99vh;
    background-color: darkgreen;
}

.card-body{
    text-align: right;
    background-color: white;
}